@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

textarea,
.modal-post,
.input-edit {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cover-photo {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-scroll-horizontal::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll-vertical::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll-horizontal::-webkit-scrollbar-track,
.custom-scroll-vertical::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll-horizontal::-webkit-scrollbar-thumb,
.custom-scroll-vertical::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-scroll-horizontal::-webkit-scrollbar-thumb:hover,
.custom-scroll-vertical::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
